nav li{
    list-style: none;
}

nav ul{
    display:flex;
    margin:0;
    padding:0;
}

.error
{
    background-color:red;
}

button a
{
    text-decoration: none;
    color:black;
}

body
{
    background-repeat:no-repeat;
    background-position: 50% 50%;
}